h1 {
   text-align: left;
    color: #C75215;
}
body {
    color: #C75215;
    background-color: papayawhip;
    font-family: 'Roboto', sans-serif;
   } 

#about-us {
    color:#745C51;
    width: 600px;
    border: 10px solid gray;
    padding: 10px #FBD4C0;
}
h2 {
    font-family:Arial, Helvetica, sans-serif
}
table {
    width:100px;
    border:1px gray;
}
th, td {
    border:10px;
    padding: 20px;
}