h1 {
   text-align: left;
    color: #C75215;
}
body {
    color: #C75215;
    background-color: papayawhip;
    font-family: 'Roboto', sans-serif;
   } 

#about-us {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#745C51;
    width: 800px;
    border: 25px solid gray;
    padding: 30px #F26419;
    margin: 10px;
}
h2 {
    font-family:Arial, Helvetica, sans-serif
}
table {
    width:100px;
    border:1px gray;
}
th, td {
    border:10px;
    padding: 20px;
}